# Save space on GutHub repository - save nc files just locally
*.nc

#Local machine files:

#Mac
.DS_Store
*/.DS_Store

.ipynb_checkpoints/
to-do.txt
generate_env_yml.py
*/*/__pycache__
*/*/*/__pycache__

*.egg-info/

#Nac
#brl-frst-env/
#run_jupyter.sh

# on Betzy, it's a symbolic link to the project folder not a real folder:
data

# Private files
data/raw/LPJ-GUESS/*.txt

# Large data
# data/surfdatamap/surfdata_1.9x2.5_hist_78pfts_CMIP6_simyr2000_c190304.nc
/cluster/home/adelez/BOREAL-FOREST-EXPANSION/diagnostics/check-spinup-equilibrium/equilibrium_output/*
