# Save space on GutHub repository - save nc files just locally on nac
*/*/*/*.nc

#Local machine files:

#Mac
.DS_Store
*/.DS_Store

.ipynb_checkpoints/
to-do.txt
generate_env_yml.py
*/*/__pycache__
*/*/*/__pycache__

*.egg-info/

#Nac
brl-frst-env/
run_jupyter.sh

# Private files
data/LPJ-GUESS/

# Large data
data/surfdatamap/surfdata_1.9x2.5_hist_78pfts_CMIP6_simyr2000_c190304.nc
